*{
    margin: 0;
    padding: 0;
}

.contenido{
    width: 100%;
    height: 657px;
}

.sidebar{
    background-color: #69da9e;
    width: 200px;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;

}

.sidebar .linea-logo{
    padding-top: 30px;
    padding-left: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
}

.sidebar .cont-lista{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 10px;
    height: 400px;
}
.lista{
    width: 100%;
}

.cont-form{
    width: 900px;
}

.dato{
    color: rgb(96, 96, 96);
    display: inline-block;
    margin: 10px;
    font-family: russ;
}

.cont-form button{
    margin: 20px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: #55ad7e;
}

.cont-form button a{
    font-weight: 800;
    font-family: interrs;
    color: rgb(26, 26, 26);
    text-decoration: none;
 
}
.cont-form button a:hover{
    font-size: 14px;
    font-weight: 1000;
    color: rgb(255, 255, 255);
}

.cont-form button:hover {
    background-color:#55ad7e;
    color: rgb(255, 255, 255);
    width: 100px;
}

select{
    color: white;
    background-color: #61d5a3df;
    padding: 5px;
    width: 250px;
    border-radius: 5px;
    border: none;
    margin-left: 10px;

}


/**Estilos Para los inputs**/

.dato input[type=date]{
    color: white;
    background-color: #61d5a3df;
    padding: 5px;
    width: 250px;
    border-radius: 5px;
    border: none;
    margin-left: 10px;
}

.dato input[type=text]{
    font-family: russ;
    font-weight: 200;
    color: white;
    padding: 10px;
    box-sizing: border-box;
    background-color: #61d5a3df;
    border-radius: 5px;
    margin-left: 10px;
    border: none;
    width: 250px;
    height: 35px;
}
.dato input[type=time]{
    font-family: russ;
    font-weight: 200;
    color: white;
    padding: 10px;
    box-sizing: border-box;
    background-color: #61d5a3df;
    border-radius: 5px;
    margin-left: 10px;
    border: none;
    width: 250px;
    height: 35px;
}
.dato input[type=email]{
    font-family: russ;
    font-weight: 200;
    color: white;
    padding: 10px;
    box-sizing: border-box;
    background-color: #61d5a3df;
    border-radius: 5px;
    margin-left: 10px;
    border: none;
    width: 250px;
    height: 35px;
}
.dato input[type=number]{
    font-family: russ;
    font-weight: 200;
    color: white;
    padding: 10px;
    box-sizing: border-box;
    background-color: #61d5a3df;
    border-radius: 5px;
    margin-left: 10px;
    border: none;
    width: 250px;
    height: 35px;
}

.dato input[type=password]{
    padding: 10px;
    background-color: #61d5a3df;
    color: white;
    border-radius: 5px;
    margin-left: 10px;
    border: none;
    width: 250px;
    height: 35px;
    box-sizing: border-box;
}




.cont-lista .lista li{
    color: white;
    display: flex;
    align-items: center;
    justify-content: left;
    font-weight: 700;
    font-family: interrs;
    text-decoration: none;
    margin-top: 20px;
    width: 100%;

}

.lista i{
    color: white;
    font-size: 40px;
    margin-left:50px ;
    margin-right: 10px;
}

.lista li a{
    text-decoration: none;
    color: white;
    margin-bottom: 0px ;
    margin-left: 5px;
}

.lista li img{
    margin-left: 50px;
}
.cont-lista .lista li:hover{
    background-color: #55ad7e;

}

.logo{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 200px;
    height: 100px;
}
.logo img{

    height: 100px;

}

.barra-sup{
    position: absolute;
    left: 20%;
    height: 10%;
    background-color: #73eead;
}

.barra-sup .texto-vista{
    display: inline-block;
    width: 40%;
    height: 100%;
}

.barra-sup .botones-interaccion{
    padding: 10px;
    display: block;
    height: 100%;
    width: 300px;
    float: right;
    box-sizing: border-box;
}

.salir{
    color: white;
    font-family: interrs;
    font-weight: bold;
    background-color: #47c482;
}

.salir:hover{
    color: white;
    background-color:#58bc86 ;
}

.botones-interaccion .posicion-boton{
    display: flex;
    justify-content: center;
    align-items: center;
}

.botones-interaccion .posicion-boton a{
    margin-right: 10px;
}

.dashboard{
    display: block;
    justify-content: left;
    padding: 50px;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10%;
    left:20%;
}

.interaccion {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.interaccion .btn{
    background-color: #55ad7e;
}


.interaccion .btn-estado{
    margin-left: 5px;
    padding: 5px;
    background-color:rgba(255, 255, 255, 0);
    border: 1px solid blue;
    border-radius: none;
}

.interaccion .btn-estado:hover{
    background-color:rgba(0, 72, 255, 0.769);
    border: none;
}

.interaccion .btn-estado a{
    padding: 5px;
    color:blue;
    text-decoration: none;
}
.interaccion .btn-estado a:hover{
    padding: 5px;
    color:blue;
    text-decoration: none;
    color: white;
}

.interaccion .btn{
    margin-right: 20px;
}

.interaccion .btn a{
    font-family: russ;
    text-decoration: none;
    color: rgb(85, 85, 85);
}

.interaccion .btn a:hover{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.tabla{
    width: 90%;
    height: 400px;
}

.tabla{
    max-height: 800px;
    overflow-y: auto;
}

.tabla h1{
    font-family: russ;
}

.contenido .dashboard{
    width: 80%;
    height: 100%;
}



.contenido .barra-sup{
    width: 80%;
}


.contenido .sidebar{
    width: 20%;
    height: 100%;
}


@font-face {
    font-family: interrs ;
    src: url(/fuentes/asmf.ttf);
}

@font-face {
    font-family: oswald;
    src: url(/fuentes/Oswald-VariableFont_wght.ttf);
}

@font-face {
    font-family: russ;
    src: url(/fuentes/RussoOne-Regular.ttf);
}

@font-face {
    font-family: cakecafe;
    src: url(/fuentes/Cakecafe.ttf);
}